details {
    border-radius: 15px;
    border: 1px solid rgba(28, 198, 193, 0.911);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 40px;
    margin-left: 40px;
}

details summary {
    text-align: center;
    color: rgb(109, 30, 174);
    text-decoration: solid;
    font-size: medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

details summary:hover {
    color: rgb(7, 78, 243);
}

form button {
    background-color: rgb(40, 8, 197);
    border: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(65, 105, 225);
}

form .center {
    margin: auto;
    padding: 10px;
}

form input[type=text] {
    background-color: rgb(83, 77, 77);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-color: rgb(78, 22, 22);
    color: rgb(255, 255, 255);
    background-color: rgb(61, 6, 6);
}

form input[type=number] {
    background-color: rgb(83, 77, 77);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-color: rgb(78, 22, 22);
    color: rgb(255, 255, 255);
    background-color: rgb(61, 6, 6);
}

form select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-color: rgb(34, 255, 0);
    color: rgb(255, 255, 255);
    background-color: rgb(61, 6, 6);
}

form label {
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}