body {
    background-color: black;
}

body h1 {
    color: rgb(255, 255, 255);
}

body h2 {
    color: rgb(255, 255, 255);
}

pre {
    background: black;
    color: rgb(0, 0, 0);
    padding: 1em;
}

img {
    height: 250px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}