{% extends 'layout.html' %}
{% block head %}
    {{ super() }}
    {% block script %}{% endblock %}
{% endblock %}
{% block sidebar %}
    {{ super() }}
{% endblock %}
{% block body %}
    <h1>App FGC Matches</h1>
    <form action="{{ url_for('match') }}" method="post">
        <h1>Registro</h1>

        <label for="scouter">¿Iniciales del scouter?</label><br>
        <input type="text" name="data[]" id="scouter"><br>

        <label for="type">¿Tipo de match?</label>
        <select name="data[]" id="type" >
            <option value="Practicas">Practicas</option>
            <option value="Quals">Quals</option>
            <option value="Play-off">Play-off</option>
        </select><br>

        <label for="num_match">¿Número de match?</label><br>
        <input type="number" name="data[]" id="num_match"><br>

        <label for="num_team">¿Nombre del pais?</label><br>
        <input type="text" name="data[]" id="num_team"><br>

        <img src="{{ url_for('static', filename='image/Cancha.png') }}"><br>

        <label for="posición">¿Posición inicial?</label><br>
        <input type="number" name="data[]" id="posición"><br>

        <details>
            <summary>Match</summary>

            <h2>TeleOp</h2>

            <label for="barrier">¿Cuantas barrier saco el robot?</label><br>
            <input type="number" name="data[]" id="barrier" min="0" max="3" ><br>
            
            <label for="mitigator">¿Cuantos barrier puesto en el robot al mitigator?</label><br>
            <input type="number" name="data[]" id="mitigator" min="0" max="3"><br>

            <label for="accelerator">¿El robot usa el mitigator?</label>
            <select name="data[]" id="accelerator">
                <option value="no">no</option>
                <option value="si">si</option>
            </select><br>

            <label for="biodiversity_robot">¿Cuantas biodiversity a apuesto el robot?</label><br>
            <input type="number" name="data[]" id="biodiversity_human" min="0" max="200"><br>

            <label for="biodiversity_human">¿Cuantas biodiversity a puesto el human?</label><br>
            <input type="number" name="data[]" id="biodiversity_human" min="0" max="200"><br>



            <h2>End game</h2>   
            <label for="estaciona">¿Asta donde escala?</label>
            <select name="data[]" id="estaciona" >
                <option value="1">Level 1</option>
                <option value="2">Level 2</option>
                <option value="3">Level 3</option>
                <option value="4">Level 4</option>
            </select><br>

        </details>

        <details>
            <summary>Preguntas</summary>

            <label for="driver">Habilidad de los drivers</label>
            <select name="data[]" id="driver">
                <option value="No observado">No observado</option>
                <option value="Buena">Buena</option>
                <option value="Mala">Mala</option>
                <option value="Promedio">Promedio</option>
                <option value="Bastante Buena">Bastante Buena</option>
            </select><br>

            <label for="human">Habilidad del human</label>
            <select name="data[]" id="human">
                <option value="No observado">No observado</option>
                <option value="Buena">Buena</option>
                <option value="Mala">Mala</option>
                <option value="Promedio">Promedio</option>
                <option value="Bastante Buena">Bastante Buena</option>
            </select><br>

            <label for="vel">Velocidad</label>
            <select name="dara[]" id="vel">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>
            
            <label for="comentarios">Comentarios</label><br>
            <input type="text" name="data[]" id="comentarios"><br>
        </details>

        <button type="submit" onclick="document.getElementsByName('data[]').values = '';">Ingresar</button><br>
    </form>
{% endblock %}