{% extends 'layout.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block sidebar %}
    {{ super() }}
{% endblock %}
{% block body %}
    <h1>App FGC Pits</h1>
    <form action="{{ url_for('pits') }}" method="post">
        <h1>Registro</h1>

        <label for="scouter">¿Iniciales del scouter?</label><br>
        <input type="text" name="data[]" id="scouter"><br>

        <label for="num_team">¿Nombre de pais?</label><br>
        <input type="text" name="data[]" id="num_team"><br>

        <details>
            <summary>Robot</summary>

            <label for="chasis">¿Cuál es el tipo de chasis?</label>
            <select name="data[]" id="chasis">
                <option value="x-drive">x-drive</option>
                <option value="Tank">Tank</option>
            </select><br>

            <label for="tiempo">¿Cuantos años tiene con ese chasis?</label><br>
            <input type="number" name="data[]" id="tiempo"><br>

            <label for="elemet">¿Qué game element controlan?</label>
            <select name="data[]" id="elemt">
                <option value="hambos">hambos</option>
                <option value="barrier">barrier</option>
                <option value="biodiversity">biodiversity unit</option>
            </select><br>
            
            <label for="nivel">¿Anotas pelostas tu robot?</label>
            <select name="data[]" id="nivel">
                <option value="No">No</option>
                <option value="si">si</option>  
            </select><br>

            <label for="ciclos">¿Cuántos ciclos hacen?</label><br>
            <input type="number" name="data[]" id="cicos"><br>

            <label for="escalan">¿Hasta dónde escalan?</label>
            <select name="data[]" id="estaciona" >
                <option value="1">Level 1</option>
                <option value="2">Level 2</option>
                <option value="3">Level 3</option>
                <option value="4">Level 4</option>
            </select><br>
        </details>

        <details>
            <summary>Preguntas</summary>

            <label for="pilas">¿Cuántas pilas tienen?</label><br>
            <input type="number" name="data[]" id="pilas"><br>

            <label for="driver">¿Cuánto tiempo tiene manejando el driver de Chasis?</label>
            <select name="data[]" id="driver">
                <option value="1">1 temporada</option>
                <option value="2">2 temporada</option>
                <option value="3">3 temporada</option>
                <option value="4">4 temporada</option>
            </select><br>

            <label for="sistemas">¿Cuánto tiempo tiene manejando el driver de Sistemas?</label>
            <select name="data[]" id="sistemas">
                <option value="1">1 temporada</option>
                <option value="2">2 temporada</option>
                <option value="3">3 temporada</option>
                <option value="4">4 temporada</option>
            </select><br>

            <label for="practicas">¿Cuánto tiene practicando?</label>
            <select name="data[]" id="practicas">
                <option value="1">1 semana</option>
                <option value="2">2 semana</option>
                <option value="3">3 semana</option>
                <option value="1 mes">Más de 4 temporadas</option>
            </select><br>

            <label for="respuestos">¿Tienen repuestos para piezas?</label>
            <select name="data[]" id="respuestos">
                <option value="si">si</option>
                <option value="no">no</option>
            </select><br>

            <label for="partes">¿Para que partes del robot?</label><br>
            <input type="text" name="data[]" id="partes"><br>

            <label for="regla">¿Cual es su regla favorita del manual?</label><br>
            <input type="text" name="data[]" id="regla"><br>

        </details>
        
        <button type="submit" onclick="document.getElementsByName('data[]').values = ' ';" >Ingresar</button>
    </form>
{% endblock %}